&FourUpOption {
    @include flex-flow(row wrap);
    
    > .promo {
        > .promo {
            &--picture-container {
                @include mqm(){
                    @include flexbox();
                    @include flex-flow(row wrap);
                }
                > picture {
                    @include mqm(){
                        &:nth-child(n+3){ // all children except the first two
                            margin-top: 2 * $gm;
                        }
                        &:nth-child(odd) {
                            padding-right: $gm !important;
                        }
                        &:nth-child(even) {
                            padding-left: $gm !important;
                        }
                    }
                }
            }
        }
    }

}
