&FourUp {
    // @extend .promo;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include mqm(){
        @include align-items(flex-end);
    }
    > .promo {
        > .promo--caption > {
            .promo--headline {
                &, & h2 {
                    @include flexbox();
                    @include justify-content(center);
                }
            }
        }
        @include mqm(){
            &:nth-child(odd) {
                padding-right: $gm !important;
            }
            &:nth-child(even) {
                padding-left: $gm !important;
            }
        }
        @include mq(){
            @include flex-wrap(nowrap);
                @include inline-flex();
        }
        + .promo {
            @include mqm(){
                margin-top: 0;
                &:nth-child(n+3){ // all children except the first two
                    margin-top: $tm;
                }
            }
        }
    }

}
