.hide- {
    &mobile {
        @include mq($min:null,$max:$mq-mobile-max){
            &-only {
                display: none !important;
            }
        }
    }
    &tablet {
        @include mq($min:$mq-tablet-min){
            display: none !important;
        }
        @include mq($min:$mq-tablet-min, $max:$mq-tablet-max){
            &-only {
                display: none !important;
            }
        }
    }
    &desktop-small {
        @include mq($min:$mq-desktop-small-min){
            display: none !important;
        }
        @include mq($min:$mq-desktop-small-min, $max:$mq-desktop-small-max){
            &-only {
                display: none !important;
            }
        }
    }
    &desktop-large {
        @include mq($min:$mq-desktop-large-min){
            display: none !important;
        }
    }
}