<%# Sapient's css %>
<%- include ./style %>

<%# jQuery %>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<%- include ./vendor/slick-carousel %>
