<link rel="shortcut icon" type="image/png" href="/assets/img/favicon.ico"/>

<%# instead of using the int-1 cdn, use our own because of CORS policies %>
<%# <link rel="stylesheet" href="https://int-1.michaelkors.com/css/mk-fonts.css"> %>
<%- include ./fonts/fonts %>

<link data-react-helmet="true" rel="stylesheet" href="https://int-1.michaelkors.com/assets/styles/main.css" onerror="console.error('Uh oh - could not load https://int-1.michaelkors.com/assets/styles/main.css\n\nResorting to locally cached fallback copy'); this.href = '/assets/css/main.css'">
