<title>💀</title>
<%- include('../assets-dev/style') %>
<style>
  body {
    background: snow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  p {
    text-align: center;
  }
  a {
    font-weight: 700;
    color: #abc545;
    text-decoration: none;
    transition: all .8s;
  }
  a:hover, a:focus {
    color: #d0629b !important;
    outline: none !important;
  }
</style>

<h1>💀</h1>
<p>
  <br>for whatever reason,
  <br>there was a problem
  <br>rendering this page

<p>
  <br>locale - <strong><%- locale.lang %>_<%- locale.region %></strong>
  <br>page - <strong><%- page %></strong>

<p>
  <br><a onclick="window.history.back()">go back</a>