.wpCta > a {
    @include fs(14/16, $type:cta, $important:true);
    display: inline-flex !important;
    &:after {
        margin-left: 2px;
    }
}

.promo {
    &__collection {
        .wp {
            &Caption {

                > * {
                    margin-top: 0 !important;
                    & + * {
                        @include mqm(){
                            margin-top: 20px !important;
                        }
                        @include mq(){
                            margin-top: $g * 2 !important;
                        }
                    }
                }

                .wp {
                    &Slug {
                        font-family: $font-gotham-bold;
                        letter-spacing: .2em;
                        line-height: 1;
                        @include fs(18/16, $important:true);
                        @include mqm(){
                            font-size: fs(13) !important;
                        }
                    }
                    &Headline {
                        @include mq(){
                            margin-top: 28px !important;
                            + .wp {
                                &Cta {
                                    margin-top: 19px !important;
                                }
                            }
                        }
                        &, & h1, & h2 {
                            @include fs(44/16, $important:true);
                            @include mqm(){
                                font-size: fs(26) !important;
                                line-height: #{(23/26)}em;
                            }
                            @include mq(){
                                line-height: #{(42/44)}em;
                                letter-spacing: 0em;
                            }
                        }
                        h1, h2 {
                            margin-top: 0;
                        }
                    }
                    &Text {
                        @include fs(20/16);
                        @include mq(){
                            line-height: #{(23/20)}em;
                            letter-spacing: .04em;
                            + .wpCta {
                                margin-top: 22px !important;
                            }
                        }


                    }
                }
            }
        }
    }
}

#romantic-glamour.promo__collection.promoTOI .promo--slug + .promo--headline {
    @include mq(){
        margin-top: 29px !important;
    }
}

#romantic-glamour {
    @include mqm(){
        @include flex-direction(column-reverse);
        .promo--picture {
            margin-top: 20px;
        }
    }
    @include mq(){
        width: 100% !important;
        .promo--picture-container {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.promo--caption {
    @include first-child(true);
}

@include mqm(){
    section.mkwp--wrapper.row:not(:first-of-type) {
        .promo .promo--caption {
            margin-bottom: inherit !important;
        }
    }
    .mkwp--wrapper.hide-mobile {
        display: none !important;
    }
}

.destination-kors {
    &--extra {
        @include flexbox();
    }
    .promo {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    @include mqm(){
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    @include mq(){
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.quote q {
    @include mqm(){
        @include flexbox();
        @include flex-direction(column);
        &:before {
            margin-bottom: -14px;
        }
        &:after {
            margin-top: 15px;
        }
    }
}

#img-scroll {
    @include justify-content(center);
    .carousel {
        position: static;
        .slick-arrow {
            transform: translateY(calc(-50% - (42px / 2)));
        }
        img {
            width: 100%;
        }
        &.hide-desktop {
            .slick-slide > div {
                @include flexbox();
                + div {
                    margin-top: 2 * $gm;
                }
            }
        }
    }
}