<section class="mkwp--wrapper row small-collapse">
  <%- Promo(data.promos.romanticGlamour, {id:'romantic-glamour', classNames:['columns']}).html %>
</section>

<section class="mkwp--wrapper row">
  <%- Quote(data.quotes[0]).html %>
</section>

<section class="mkwp--wrapper row">
  <%- Promo(data.promos.roseGarden).html %>
</section>

<section class="mkwp--wrapper row">
  <%- Promo(data.promos.exoticTexture).html %>
</section>

<section class="mkwp--wrapper row">
  <%- Promo(data.promos.fabulousFlats).html %>
</section>

<section class="mkwp--wrapper row hide-mobile">
  <%- Quote(data.quotes[1]).html %>
</section>

<%- include(`../collectionep/carousel.ejs`) %>

<section class="mkwp--wrapper row" divider-header="DESTINATION KORS">
  <%-
    DestinationKors(locale.destinationKors, {
      extra: Promo(data.destinationKorsExtra).html
    }).html
  %>
</section>