.mkwp {
    &--body {
        padding-bottom: $rm;
        @include mq(){
            padding-bottom: $r;
        }
    }
    &--wrapper {
        &.row {
            padding-left: $gm;
            padding-right: $gm;
            @include mq(){
                padding-left: $g;
                padding-right: $g;
            }

            &.small- {
                &collapse {
                    padding-left: 0;
                    padding-right: 0;
                    .column, .columns {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
                &uncollapse {
                    padding-left: $gm;
                    padding-right: $gm;
                    .column, .columns {
                        padding-left: $gm;
                        padding-right: $gm;
                    }
                }
            }
            @include mq(){
                &.medium- {
                    &collapse {
                        padding-left: 0;
                        padding-right: 0;
                        .column, .columns {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                    &uncollapse {
                        padding-left: $g;
                        padding-right: $g;
                        .column, .columns {
                            padding-left: $g;
                            padding-right: $g;
                        }
                    }
                }
            }
            .column, .columns {
                padding-left: $gm;
                padding-right: $gm;
                @include mq(){
                    padding-left: $g;
                    padding-right: $g;
                }
            }
        }
        & + & {
            margin-top: $rm;
            @include mq(){
                margin-top: $r;
            }
        }
    }
}
.row:not(.expanded) {
    .mkwp--body .row {
        max-width: $mw;        
    }    
}
.mkwp--body .row {
    max-width: $mw;
}



@import 'modifiers/.modifiers';