.promo {
    position: relative;
    text-align: center;
    @include flexbox();
    @include flex-direction(column);

    @include mq(){
        @include justify-content(center);
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    + .promo {
        @include mqm(){
            margin-top: 4 * $gm;
        }
    }

    > {
        * {
            float: none;
            flex: 0 1 auto;
            margin-bottom: 0;
        }

        // to handle widths of absolutely positioned elements
        @each $mq in small medium large {
            $mq-min-width: 0px;
            @if $mq == medium {
                $mq-min-width: $mqt;
            } @else {
                $mq-min-width: $mqd;
            }
            @include mq($mq-min-width){
                @for $width from 1 through 12 {
                    $width-percent: #{($width / 12) * 100%};
                    .#{$mq}-#{$width} {
                        width: $width-percent;
                    }
                    .#{$mq}-offset-#{$width} {
                        margin-left: $width-percent;
                    }
                }
            }
        }
        
        .promo--picture-container { // picture element wrapper
            // order: 1;
            @include mq(){
                flex: 0 1 auto;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            display: block;
            width: 100%;
            > picture {
                display: block;
                position: relative;
                width: 100%;
                img {
                    display: block;
                    position: relative;
                    width: 100%;
                }
            }
        }
        .promo--legal {
            font-family: Gotham Light, 'Gotham 4R';
            letter-spacing: .045em;
            line-height: #{(12/10)}em;
            @include fs($type:disclaimer);
            text-align: center;
            @include mqm(){
                margin-left: auto;
                margin-right: auto;
            }
            margin-top: 2 * $gm;
            @include mq(){
                margin-top: 2 * $g;
            }
            a {
                text-decoration: underline;
            }
            @include fs($type:disclaimer);
        }
        .promo--legal, .promo--caption {
            max-width: 90%;
        }
        .promo--caption {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mqm{
                margin-top: $tm;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
                &:only-child {
                    margin-top: 0;
                }
            }
            
            @include first-child(); // @TODO: deprecate this?

            > {
                * {
                    &, & > * {
                        margin-bottom: 0;
                    }
                    + * {  // all immediate children other than the first
                        margin-top: 20px;
                    }
                }
            }

            padding: 0;
            background: white;
            @include mq(){
                > * + * { // all immediate children other than the first
                    margin-top: 2 * $g;
                }
                background: transparent;
            }

            .promo--slug {
                font-family: Gotham Medium, 'Gotham 4R';
                letter-spacing: .100em;
                margin-bottom: 0;
                @include fs(1.5);
                @include mqm(){
                    font-size: fs(14.4);
                }
            }
            .promo--headline {
                &, & h1, & h2 {
                    width: 100%;
                    margin: 0;
                    margin-bottom: 0;
                    white-space: normal;
                    font-family: Gotham Bold, 'Gotham 4R';
                    @include fs($type:header1);
                    // @include fs(3.375);
                    @include mqm{
                        line-height: #{(28.4/30)}em;
                        // font-size: fs(28.4);
                    }
                    @include mq(){
                        letter-spacing: .055em;
                        // line-height: #{(50/54)}em;
                    }
                }
            }
            .promo--text {
                font-family: Gotham Book, 'Gotham 4R';
                letter-spacing: .045em;
                @include fs($type:body);
                // @include fs(12/16);
                // @include mq(){
                //     line-height: #{(18/12)}em;
                // }
            }
            .promo--ctas {
                @include flexbox();
                @include flex-direction(column);
                @include align-items(center);
                font-family: Gotham Bold, 'Gotham 4R';
                letter-spacing: .045em;
                @include fs($type:cta);
                > {
                    * + * {
                        margin-top: $tm;
                        @include mq(){
                            margin-top: $t;
                        }
                    }
                    .promo--cta {
                        @include inline-flex();
                        white-space: nowrap;
                        @extend %cta;
                    }
                }
            }
            .promo--legal,
            .promo--caption {
                @include mq(){
                    &.wp {
                        @each $text-align in Left Center Right {
                            &#{$text-align} {
                                &, & .wpCta,
                                & .wpCta a,
                                & .wpText {
                                    text-align: #{$text-align};
                                }
                            }
                        }
                    }
                }
            }
        }

    }

}


@import './modifiers/.modifiers';

@import './subclasses/.subclasses';

@import './margins';
