.slick {
    &-slider {
        overflow-x: hidden;
    }
    &-dotted {
        &.slick-slider {
            margin-bottom:0;
        }
    }
    &-dots {
        @include flexbox();
        @include justify-content(center);
        padding: 0px;
        width: 100%;
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
        li {
            @include inline-flex();
            @include justify-content(center);
            @include align-items(center);
            margin: 0 9px;
            height: 12px;
            width: auto;
            button {
                width: 0px; height: 0px;
                font-size: 0px;
                border-style: none;
                border-radius: 50%;
                background: $slick-button-inactive;
                padding: 4px;
                border: 1px solid $slick-button-inactive-stroke;
                @include mq(){
                    padding: 5px;
                    border-width: 1px;
                }
                @include mq-tablet-only(){
                    padding: 3.5px;
                }
            }
            &.slick-active button {
                background: $slick-button-active;
                border-color: $slick-button-active;
            }
        }
    }
    &-track {
        .promo {
            + .promo {
                margin-top: 0;
            }
        }
    }
}

.carousel {
    width: 100%;
    picture > img {
        width: 100%;
    }

    > .slick-dots {
        list-style: none;
        position: relative;
        padding: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        flex: 0 0 100%;
        margin-top: 20px;    
        @include mq(){
            margin-top: 2 * $half-gutter;
        }

        button {
            width: 0px; height: 0px;
            &:before, :after {
                content: none;
            }
        }
    }

    &--arrow {
        height: 53px;
        font-size: 0px;
        background: none;
        outline: none;
        border: none;
        position: static;
        @include flexbox();
        @include justify-content(center);
        width: calc(#{$cp1 / 100%} * 100vw);
        max-width: $cp1 / 100% * $mw;
        align-self: flex-start;
        z-index: 1;
        @include mq(){
            padding: 0px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &:hover {
            cursor: pointer;
        }
        &-path {
            display: none;
            @include mq(){
                display: block;
            }
            &.st0 {
                @include mq($mqd){
                    fill: transparent;
                }
                transition: all .42s;
            }
        }
        &__prev {
            left: 0;
            .carousel--arrow-path {
                transform: scale(-1, 1);
                transform-origin: center;
            }
        }
        &__next {
            right: 0;
            z-index: 2222;
        }
    }
    &:hover {
        .carousel--arrow-path {
            fill: #D7D7D7;
        }
    }

    .slick-list {
        width: 100%;
    }
    .slick-initialized .slick-track {
        width: auto;
    }

}
