.collection {

    &.row {
        @include flexbox();
        @include justify-content(center);
        @include mq() {
            overflow-x: hidden;
            padding-bottom: ((2 * $half-gutter) + 12px) !important; // to counteract overflow-x:hidden mysteriously forcing overflow-y to be auto
        }
    }

    &--slider {
        overflow: visible;
        white-space: nowrap; // keep the collection of images on one line before slick has initialized
        display: none;
        &.slick-slider {
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between);
            @include flex-flow(row wrap);

            padding: 0px;
            @include mq(){
                @include bq($safari:true){
                    @include justify-content(space-around);
                }
            }

            .slick-list {
                overflow: hidden;
                @include w(mobile, 4, 3);
                margin: auto;
                @include mq() {
                    @include w(desktop, 10, 11);
                    margin: 0;
                    @include bq($safari:true){
                        margin: auto;
                    }
                }
            }

            .slick-arrow {
                z-index: 1;
                height: 53px;
                font-size: 0px;
                background: none;
                outline: none;
                border: none;
                position: static;
                @include flexbox();
                @include justify-content(center);
                width: calc(#{$cp1 / 100%} * 100vw);
                max-width: $cp1 / 100% * $mw;
                align-self: flex-start;
                @include mq(){
                    @include w(desktop, 1, 1, .8); // shortening width a bit because small mathematical roundings generate a width just wide enough to cause the buttons to be pushed to the next line
                    padding: 0px;
                    top: calc(50% - #{(2 * $half-gutter)});
                    position: relative;
                    @include bq($safari:true){
                        position: absolute;
                    }
                }
            }
            .slick-dots {
                list-style: none;
                position: relative;
                padding: $margin-m-ep-cta 0;
                left: 0;
                bottom: 0;
                margin-top: 2*$half-gutter;
                width: 90vw;
                flex: 0 0 90vw;
                @include mq(){
                    @include w(desktop, 12, 13);
                    margin: 0;
                    margin-top: 0;
                    bottom: -#{($half-gutter * 2) + 12px};
                    position: absolute;
                }
                button {
                    width: 0px; height: 0px;
                    &:before, :after {
                        content: none;
                    }
                }
            }
        }
        &--carousel-arrow {
            &--path {
                display: none;
                @include mq(){
                    display: block;
                    @include w(desktop, 1, 1, 8);
                }
                &.st0 {
                    @include mq($mqd){
                        fill: transparent;
                    }
                    transition: all .42s;
                }
            }
            &.prev {
                left: 0;
                .collection--slider--carousel-arrow--path {
                    transform: scale(-1, 1);
                    transform-origin: center;
                }
            }
            &.next {
                right: 0;
            }
        }
        &:hover {
            .collection--slider--carousel-arrow {
                &--path {
                    fill: #D7D7D7;
                }
            }
        }
    }


    &--picture {
        display: inline-block;
        overflow: hidden;
        width: cg(mobile, 4, 3, .5) !important;
        max-width: cg-m(mobile, 4, 3, .5) !important;
        @include mq() {
            width: cg(desktop, 10, 11, .25) !important;
            max-width: cg-m(desktop, 10, 11, .25) !important;
        }

        &:not(.image1) {
            direction: rtl;
        }
        &.of2 {
            img {
                width: cg(mobile, 4, 3) !important;
                max-width: cg-m(mobile, 4, 3) !important;
                @include mq() {
                    width: cg(desktop, 10, 11, .5) !important;
                    max-width: cg-m(desktop, 10, 11, .5) !important;
                }
            }
        }
    }

    &--cta {
        margin-top: 20px;
        @include mq(){
            margin-top: 0;
        }
    }

}
