%cta {

    position: relative;
    // pointer-events: none;
    text-align: center;
    font-family: $font-gotham;
    @include align-items(center);
    @include justify-content(center);

    @include flexbox();
    @include flex-wrap();

    &, & a {
        @include fs($type:cta);
        line-height: 1em;
        letter-spacing: .045em;
    }
    @include mq() {
        @include inline-flex();
    }

    &:after {
        @extend %cta--caret;
    }

    a {
        pointer-events: auto;
        &:hover {
            text-decoration: underline;
        }
    }

}

.cta {
    @extend %cta; // @TODO remove this evilness!

    @mixin modifiers-color(){
        &white {
            &, a, {
                color: white;
                &:after {
                    border-left-color: white !important;
                }
            }
        }
    }
    @include mq(){
        &__ {
            @include modifiers-color();
        }
    }
    @include mqm(){
        &__mobile- {
            @include modifiers-color();
        }
    }
}


// to be used for class extension
%cta--caret {
    display: inline-block;
    content: '';
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #000000;
    line-height: 0px;
    _border-color: #ffffff #ffffff #ffffff #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#ffffff');
    
    border-width: 4.2px 0 4.2px 4.2px;
    position: relative;
    margin-left: 2px;
    margin-bottom: 1.5px;
    @include mq(){
        margin-bottom: 1px;
    }
}
