.destination-kors {

    @include flexbox();
    @include flex-flow(row wrap);
    font-family: $font-gotham;
    // padding: 0px $half-gutter;
    text-align: center;
    margin-bottom: -#{$half-gutter * 2} !important; // to offset the bottom:30px relative positioning of destination-kors--column--text
    @include justify-content(space-between);

    &.hide-for-small-only {
        display: none;
        @include mq() {
            display: block;
        }
    }

    > * + * {
        @include mqm(){
            margin-top: 30px;
        }
    }

    &--title {
        letter-spacing: fs(0);
        padding: $half-gutter * 2;
        padding-top: 0;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
        display: block;
        width: calc(100% - #{$half-gutter * 2});
        margin-left: $half-gutter;
        font-size: fs(16);
        &:before, &:after {
            background-color: #AAACAE; // reduced opacity to make the lines seems thinner
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
        }
        &:before {
            right: 4*$half-gutter;
            margin-left: -50%;
        }
        &:after {
            left: 4*$half-gutter;
            margin-right: -50%;
        }
    }

    & &--extra {
        width: 100%;
        margin-bottom: 30px;
        @include mq(){
            margin-bottom: 100px;
        }
        @include mqm(){
            @include flexbox();
        }
    }

    &--features {
        @include flexbox();
        @include flex-flow(row nowrap);
        @include align-items(flex-start);
        @include justify-content(space-around);
        width: 100%;
    }

    .promo {
        display: inline-flex;
        .promo {
            &--picture-container {
                padding-left: 0;
                padding-right: 0;
            }
            &--headline {
                &, & h1, & h2 {
                    @include fs(18/16, $important:true);
                }
            }
            &--text {
                &, p, .wpText {
                    white-space: normal;
                }
            }
        }

        @include mq(){
            &.columns {
                // padding-left: 0;
                // padding-right: 0;
            }
        }
    }

    &--column {
        &--text {
            margin: auto;
            background: white;
            padding: $half-gutter * 2;
            padding-bottom: 0;
            box-sizing: border-box;
            position: relative;
            bottom: $half-gutter * 2;
            &--title {
                @include fs(18/16);
                // letter-spacing: $ls-d-lep-cta-header;
                letter-spacing: .045em;
            }
            &--cta {
                // letter-spacing: $ls-d-lep-cta-link;
                letter-spacing: .1em;
                margin-top: $half-gutter * 2;
                @include fs(12/16);
                @include mq($mqd){
                    &:after {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }


}
