/**
 * usage:
 *
 * header only:
 * <tag divider-header="THE HEADER">
 *
 * with header and subheader:
 * <tag divider-header="THE HEADER" divider-subheader="THE SUBHEADER">
 */

[divider-header] {
    &, &.row {
        @include flexbox();
    }

    &:before, &:after {
        font-family: $font-gotham-bold;
        position: relative;
        height: auto;
        @include flexbox();
        @include justify-content(center);
        @include flex-wrap(nowrap);
    }

    &:not([divider-subheader]) { // when only divider-header is provided
        &:before {
            content: '' !important;
            border-bottom: solid 1px #AAACAE;
            // width: calc(100% - #{2 * $g});
            width: 100%;
            @include order(-2);
            // margin: 30px auto -30px;
            
            margin-top: .5rem;
            margin-bottom: -.5rem;
        }

        &:after {
            content: attr(divider-header);
            font-size: 1rem;
            height: 1.25rem;
            @include align-items(center);
            @include order(-1);
            background: white;
            top: -2px;
            // width: 28%;
            width: auto;
            padding: 0 30px;
            margin: auto;
            min-width: 222px;
            // width: 1px;
        }
        > :first-child { // divider replaces first child as the first child
            @include mqm(){
                margin-top: $tm;
            }
            @include mq(){
                margin-top: $t;
            }
        }
        &[divider-header="DESTINATION KORS"] {
            > :first-child {
                @include mq(){
                    margin-top: 25px; // dat visual tho
                }
            }
        }
    }


    &[divider-subheader] { // when divider-subheader is also provided
        &:before {
            content: attr(divider-header);
            font-size: 1.25rem;
            height: 1.25rem;
            @include align-items(flex-end);
            // margin: auto;
            margin-top: auto;
            margin-bottom: auto;
        }
        &:after {
            // background: white url(/img/MKBusiness/refreshes/2017/spring/refresh3/global/assets/desktop/icons/COLLECTION_LOGO_DESKTOP.png) no-repeat center center;
            // background-size: auto 100%;
            content: attr(divider-subheader);
            font-size: .75rem;
            height: .75rem;
            @include align-items(flex-start);
        }
    }

}