.expandable-collection {

    &--collection {
        @include flexbox();
        max-width: 100%;
        overflow: hidden;
    }

    &--toggle {
        &--checkbox {
            &:checked {
                + .expandable-collection--collection {
                    @include flex-wrap(wrap);
                    + .expandable-collection--toggle--button {

                    }
                }
            }
        }
        &--button {

        }
    }

}