// .hero {

//     &.hero {
//         @include flexbox();
//         @include flex-direction(column);
//         @include justify-content(center);
//         @include align-items(start);
//         @include bq($safari: true) { //margins of .hero--image not expanding .hero because safari sucks
//             &:nth-child(even) {
//                 margin: $margin-hero auto;
//             }
//         }
//     }

//     @include flex(0,0,auto);
//     margin: auto;
//     + .hero {
//         margin-top: 0 !important;
//     }
//     + .quote {
//         margin-top: 0 !important;
//         @include mq(){
//             margin-top: 100px !important;
//         }
//     }
//     &.medium-uncollapse,
//     &.large-uncollapse,
//     &:not(.medium-collapse),
//     &:not(.large-collapse) {
//         width: 100%;
//         @include mq() {
//             .hero--image {
//                 margin: #{2 * $half-gutter} auto;
//                 width: calc(100% - #{4 * $half-gutter});
//             }
//         }
//     }

//     &--image {
//         padding: 0px;
//         box-sizing: border-box;
//         width: 100%;
//         @include flex(0,0,auto);
//         @include mq(){
//             padding-left: 0 !important;
//             padding-right: 0 !important;
//         }
//     }

//     &--text {
//         text-align: center;
//         font-size: 0px; // to hide the stupid comma that ejs renders in array.map
//         pointer-events: none;

//         display: block;
//         position: relative;
//         flex: 0 0 auto;
//         @include flexbox();
//         @include flex-direction(column);
//         @include justify-content(center);
//         @include align-items(center);
//         box-sizing: border-box;
//         padding: #{$half-gutter * 2} #{$half-gutter-mobile * 4} !important;
//         @include mq() {
//             padding: 0 !important;
//             position: absolute;
//             @include bq($safari:true, $mozilla:true) {
//                 top: 0; bottom: 0;
//             }
//         }
//         * {
//             font-weight: normal;
//             margin: 0;
//             color: black;
//             + {
//                 :nth-child(2) {
//                     margin-top: 15px;
//                 }
//                 @include mq(){
//                     :nth-child(3) {
//                         margin-top: 25px !important;
//                     }
//                     :nth-child(4) {
//                         margin-top: 25px !important;
//                     }
//                 }
//                 * {
//                     margin-top: 30px;
//                     @include mq(){ // -10px offset bc the font is stupid
//                         margin-top: #{($half-gutter * 2) - 10px} !important;
//                     }
//                 }
//             }
//         }
//         &--surtitle {
//             font-family: $font-gotham;
//             font-size: $fs-m-ep-hero-surtitle;
//             line-height: $lh-m-ep-hero-surtitle;
//             letter-spacing: $ls-m-ep-hero-surtitle;
//             @include mq() {
//                 font-size: $fs-t-ep-hero-surtitle;
//                 line-height: $lh-t-ep-hero-surtitle;
//                 letter-spacing: $ls-t-ep-hero-surtitle;
//             }
//             @include mq($mqd) {
//                 font-size: $fs-d-ep-hero-surtitle;
//                 line-height: $lh-d-ep-hero-surtitle;
//                 letter-spacing: $ls-d-ep-hero-surtitle;
//             }

//             + *:first-of-type {
//                 margin-top: 12px;
//                 @include mq() {
//                     margin-top: 18px;
//                 }
//             }

//             + .hero--text--header {
//                 letter-spacing: 0rem;
//                 font-size: (33rem / 16);
//                 line-height: (30rem / 16);
//                 @include mq($mqd){
//                     font-size: (50rem / 16);
//                     line-height: (45rem / 16);
//                 }
//             }
//         }
//         &--header {
//             font-family: $font-caslan-italic;
//             font-size: $fs-m-lp-hero-header;
//             line-height: $lh-m-lp-hero-header;
//             letter-spacing: $ls-m-lp-hero-header;
//             @include mq() {
//                 font-size: $fs-t-lp-hero-header;
//                 line-height: $lh-t-lp-hero-header;
//                 letter-spacing: $ls-t-lp-hero-header;
//                 // + .hero--text--subheader { // because the font is being stupid
//                 //     margin-top: 18px !important;
//                 // }
//             }
//             @include mq($mqd) {
//                 font-size: $fs-d-lp-hero-header;
//                 line-height: $lh-d-lp-hero-header;
//                 letter-spacing: $ls-d-lp-hero-header;
//             }
//         }
//         &--subheader {
//             font-family: $font-caslan-roman;
//             font-size: $fs-m-lp-hero-subheader;
//             line-height: $lh-m-lp-hero-subheader;
//             letter-spacing: $ls-m-lp-hero-subheader;
//             @include mq() {
//                 font-size: $fs-t-lp-hero-subheader;
//                 line-height: $lh-t-lp-hero-subheader;
//                 letter-spacing: $ls-t-lp-hero-subheader;
//             }
//             @include mq($mqd) {
//                 font-size: $fs-d-lp-hero-subheader;
//                 line-height: $lh-d-lp-hero-subheader;
//                 letter-spacing: $ls-d-lp-hero-subheader;
//             }
//         }
//         &--cta {
//             pointer-events: none;

//         }

//     }

// }

// .hiddenComma {display: none;}
