// .look {

//     &.row {
//         @include flex-wrap(nowrap);
//         overflow-x: hidden;
//         &:not(.slick-initialized) {
//             @include flexbox();
//         }
//         @include mq() {
//             @include align-items(center);
//         }
//     }

//     &--image {
//         overflow: visible;
//         display: inline-block;
//         position: relative;
//         padding: 0 #{2*$half-gutter-mobile};

//         @include mq() {
//             display: block;
//             &.no-desktop {
//                 display: none;
//             }
//             &:only-child {
//                 width: calc(#{$cp10} - #{$half-gutter * 2});
//             }
//             &.medium-10, &.large-10 {
//                 @include w(desktop, 10,9);
//             }
//             &.medium-8, &.large-8 {
//                 @include w(desktop, 8, 7);
//             }

//             &:not(:only-child) {
//                 .look--cta {
//                     margin-top: $half-gutter * 2;
//                 }
//             }

//             &.medium-offset-1, &.large-offset-1 {
//                 margin-left: cg(desktop, 1, 2);
//             }

//             &.medium-4, &.large-4 {
//                 @include w(desktop, 4, 3);
//             }
//             &.medium-6, &.large-6 {
//                 @include w(desktop, 6, 6);
//             }
//         }

//         @include mq(1440px) {
//             &.medium-4, &.large-4 {
//                 &.medium-offset-1, &.large-offset-1 {
//                     margin-left: cg-m(desktop, 1, 2);
//                 }
//             }
//             &.medium-6, &.large-6 {
//                 &.medium-offset-1, &.large-offset-1 {
//                     margin-left: cg-m(desktop, 1, 2);
//                 }
//             }
//         }

//     }

//     & + &--cta {
//         position: relative;
//         @include align-items(center);
//         @include flexbox();
//         @include mq() { display: none; }
//     }
//     &--cta {
//         position: absolute;
//         text-align: center;
//         font-family: $font-gotham;
//         letter-spacing: $ls-m-ep-cta;
//         display: none;
//         margin: 2 * $half-gutter;
//         margin-bottom: 0;
//         @include mq() {
//             display: block;
//             letter-spacing: $ls-d-ep-cta;
//             left: 0; right: 0;
//             &.top, &.right, &.bottom, &.left {

//             }
//             &.top { top: 0 }
//             &.bottom { bottom: $half-gutter*2 }
//             &.left {
//                 left: 0;
//                 text-align: left;
//             }
//             &.right {
//                 right: 0;
//                 text-align: right;
//             }
//         }
//     }

//     .slick {
//         &-list {
//             overflow: hidden;
//         }
//         &-dots {
//             margin-top: 2*$margin-hero;
//             position: relative;
//             bottom: 0;
//             li {
//                 height: 12px;
//                 width: 12px;
//             }
//             button {
//                 &:before {
//                     display: none;
//                 }
//             }
//         }
//     }

// }
