.quote {

    text-align: center;
    margin-top: 0;
    font-family: $font-caslan-roman;
    font-size: fs(18.5);
    line-height: fs(18.5);
    letter-spacing: .020rem;
    @include mq() {
        font-size: fs(20);
        line-height: fs(23);
        letter-spacing: .040rem;
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - #{2 * $g});
    }

    q {
        @include flex(0,0,auto);
        padding-left: 0;
        padding-right: 0;
        @include mq(){
            display: inline-block;
            padding-left: $g;
            padding-right: $g;
        }
        &:before, &:after {
            font-family: $font-caslan-roman;
            line-height: 1;
            @include mqm(){
                display: block;
                font-size: fs(50);
            }
        }
        &:before {
            content: '\201C';
            margin-bottom: -5px;
        }
        &:after {
            content: '\201D';
            margin-top: 13px;
            margin-bottom: -15px;
        }
    }

    &[quoter] {
        &:after {
            content: '\2014  'attr(quoter);
            display: block;
            text-transform: uppercase;
            font-family: $font-gotham-bold;
            font-size: fs(11);
            line-height: 1;
            letter-spacing: 0rem;
            @include mq() {
                font-size: fs(18);
                letter-spacing:  0rem;
                margin-top: 50px;
            }
        }
    }

}
