<div class="mkwp wpLanding men">

  <span>hello thar</span>
  wuz hanin
  y u lag

  <%- Anchor({href:'#', content:'sup'}).html %>

	<%- data.promos.map(promo => promo).join('') %>


</div>



<%- include ./included/zees-file %>
