@mixin modifier-gutters($gutter-arg){
    &gutters- {
        &all-around {
            padding-top: $gutter-arg * 2;
            padding-right: $gutter-arg;
            padding-bottom: $gutter-arg * 2;
            padding-left: $gutter-arg;
        }
        &on-the-sides {
            padding-right: $gutter-arg;
            padding-left: $gutter-arg;
        }
    }
}

@import './block--element';