@include modifiers(mkwp, (wrapper)){
    @include modifiers-margin();
    @include modifiers-collapse();
}


.mkwp--wrapper {
    @include mq(){
        &__ {
            @include modifier-gutters($g);
            @include modifiers-divider($margin-top: $g * 2, $margin-side: $g);
        }
    }
    @include mqm(){
        &__mobile- {
            @include modifier-gutters($gm);
            @include modifiers-divider($margin-top: 20px, $margin-side: $gm * 2);
        }
    }
}