<%
  const fontPath = '/assets/css/fonts/'
%>

<style>
  /* font family */
  @font-face {
    font-family: Gotham Light;
    src: url("<%- fontPath %>Gotham-Light.eot");
    src:
      url("<%- fontPath %>Gotham-Light.eot?#iefix") format("embedded-opentype"),
      url("<%- fontPath %>Gotham-Light.woff") format("woff");
  }

  @font-face {
    font-family: Gotham Bold;
    src: url("<%- fontPath %>Gotham-Bold.eot");
    src:
      url("<%- fontPath %>Gotham-Bold.eot?#iefix") format("embedded-opentype"),
      url("<%- fontPath %>Gotham-Bold.woff") format("woff");
  }

  @font-face {
    font-family: Gotham Medium;
    src: url("<%- fontPath %>Gotham-Medium.eot");
    src:
      url("<%- fontPath %>Gotham-Medium.otf") format("opentype"),
      url("<%- fontPath %>Gotham-Medium.eot?#iefix") format("embedded-opentype"),
      url("<%- fontPath %>Gotham-Medium.svg") format("svg"),
      url("<%- fontPath %>Gotham-Medium.woff") format("woff");
  }

  @font-face {
    font-family: Gotham Book;
    src: url("<%- fontPath %>Gotham-Book.eot");
    src:
      url("<%- fontPath %>Gotham-Book.eot?#iefix") format("embedded-opentype"),
      url("<%- fontPath %>Gotham-Book.svg") format("svg"),
      url("<%- fontPath %>Gotham-Book.woff") format("woff");
  }

  @font-face {
    font-family: Didot;
    src: url("<%- fontPath %>didot.eot");
    src:
      url("<%- fontPath %>didot.eot?#iefix") format("embedded-opentype"),
      url("<%- fontPath %>didot.svg") format("svg"),
      url("<%- fontPath %>didot.woff") format("woff");
  }

  @font-face {
    font-family: Caslon;
    src: url("<%- fontPath %>Caslon.eot");
    src:
      url("<%- fontPath %>Caslon.eot?#iefix") format("embedded-opentype"),
      url("<%- fontPath %>Caslon.svg") format("svg"),
      url("<%- fontPath %>Caslon.woff") format("woff");
  }

  @font-face {
    font-family: Caslon Italic;
    src: url("<%- fontPath %>Caslon-italic.eot");
    src:
      url("<%- fontPath %>Caslon-italic.eot?#iefix") format("embedded-opentype"),
      url("<%- fontPath %>Caslon-italic.svg") format("svg"),
      url("<%- fontPath %>Caslon-italic.woff") format("woff");
  }

  @font-face {
    font-family: MK-IconFont;
    src: url("<%- fontPath %>MK-IconFont.eot");
    src:
      url("<%- fontPath %>MK-IconFont.eot?#iefix") format("embedded-opentype"),
      url("<%- fontPath %>MK-IconFont.svg") format("svg"),
      url("<%- fontPath %>MK-IconFont.woff") format("woff");
  }
</style>
