<section id="img-scroll" class="row mkwp--wrapper">
  <%
    const i = src => `<img src="${src}.jpg">`
        , a = (c, h) => Anchor({ href: h, content: c, classNames: ['columns'] }).html
        , imgScrollPath = `${locale.baseUrl}img/collectionep/`
        , isd = (n, h) => a(i(`${imgScrollPath}desktop/exp_collection_desktop-look-row${n}`), h)
        , ism = h => n => a(i(`${imgScrollPath}mobile/exp_collection_mobile-look-${n}`), h)
        , carouselISPs = [
            '/trend/transeason-2017/_/N-rn0ibqZ7cy0iq',
            '/trend/transeason-2017/_/N-rn0ibqZ1fqyigg',
            '/trend/transeason-2017/_/N-rn0ibqZ1fqyigg',
            '/trend/transeason-2017/_/N-rn0ibqZ1fqyigg',
            '/trend/transeason-2017/_/N-rn0ibqZ9qvt1x',
            '/trend/transeason-2017/_/N-rn0ibqZ9qvt1x',
            '/trend/transeason-2017/_/N-rn0ibqZ9qvt1x'
          ].reduce((acc, url, index) => {
            let n = index + 1
            acc.desktop.push(isd(n, url))
            acc.mobile.push(ism(url))
            return acc
          }, {mobile:[], desktop:[]})

  %>
  <%- // Desktop carousel
    Carousel({
      classNames: ['small-12','medium-10','hide-mobile'],
      items: carouselISPs.desktop,
      options: {
        adaptiveHeight: true, infinite: true,
        speed: 500, arrows: true, dots: true
      }
    }).html
  %>
  <%- // Mobile carousel
    Carousel({
      classNames: ['small-12','medium-10','hide-desktop'],
      items: carouselISPs.mobile
        .map((isp, i) => [isp,isp,isp,isp]) // each look has four individual imgs
        .reduce((acc, ispSet, i) => acc.concat(ispSet), []) // flatmap
        .map((isp, i) => { // provide the number designation of the img
          let index = i + 1
            , n = index < 10 ? '0' + index : index
          
          return isp(n)
        }),
      options: {
        adaptiveHeight: true,
        infinite: true,
        speed: 500,
        arrows: false,
        dots: true,
        rows: 2,
        slidesPerRow: 2
      }
    }).html
  %>
</section>