.cta {
    width: 100%;
    &:after {
        margin-left: 2px;
    }
}

.promoTOI {
    .wpHeadline {
        line-height: #{(46/50)}em;
        letter-spacing: 0em;
        margin-top: 0 !important;
        @include fs(50/16, $important:true);
        @include mqm(){
            font-size: fs(33);
            line-height: #{(30/33)}em;
        }
        
    }
}

.quote {
    &.hide-mobile {
        margin-top: 50px;
        q {
            @include fs(20/16);
            @include mq-tablet-only(){
                // font-size: fs(15);
                font-size: fs(13);
            }
        }
    }
    @include mqm() {
        &:after {
            margin-top: 20px;
        }
        q {
            @include fs(15/12);
            &:before, &:after {
                display: inline;
                font-size: 1em;
            }
        }
    }
}


#fresh .row.mkwp--wrapper {
    @include flexbox();
    @include mqm(){
        // @include justify-content(center);
    }
    @include mq(){
        @include align-items(center);
    }
}

.look {
    position: relative;
    @include mqm(){
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(space-between);
        text-align: center;
    }

    &__abutt {
        // display: inline-block;
        
        @include mqm(){
            flex-basis: 50%;
            // &:first-child {
            //     margin-right: $gm;
            // }
            // &:nth-child(2){
            //     margin-left: $gm;
            // }
        }
        @include mq(){
            @include flexbox();
            @include justify-content(center);
            .cta {
                position: absolute;
                bottom: $g * -2;
                left: 50%;
                transform: translate(-50%, 100%);
            }
        }
        @include mq-tablet-only(){
            .cta {
                bottom:- $tm;
            }
        }
    }

    + .cta {
        @include mqm(){
            left: 50%;
            transform: translateX(-50%);
            &.hide-desktop {
                margin-top: 20px;
            }
        }
    }
    .cta {
        @include mqm(){
            margin: auto;
            @include inline-flex();
        }
        @include mq(){
            position: absolute;
        }
        @each $side in top right bottom left {
            &.#{$side} {
                float: none;
                @include mq(){
                    width: auto;
                    #{$side}: 2 * $g;
                }
                @include mq-tablet-only(){
                    #{$side}: $tm;
                }
            }
        }
    }
    &.columns .cta { // for the stupid gutters
        @include mq(){
            &.left { left: 3 * $g;}
            &.right { right: 3 * $g;}
        }
        @include mq-tablet-only(){
            &.left { left: $tm + $g; }
            &.right { right: $tm + $g; }
        }
    }

    picture {
        + .cta {
            @include mqm(){
                margin-top: 20px;
            }
        }
    }

    > a {
       + {
           .cta {
               margin-top: $tm;
           }
       } 
    }
}


.look-container {
    @include mqm(){
        .mkwp--wrapper {
            @include flexbox();
            @include justify-content(space-between);
        }
    }
    @include mq(){
        margin-top: 100px;
    }
}
@include modifiers(look-container){
    @include modifiers-margin();
}

.columns {
    @include mq(){
        padding-left: $g;
        padding-right: $g;
    }
}

.slick-initialized .promo.slick-slide {
    @include mqm(){
        display: flex;
        .promo--caption {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

#cta {
    &-collection {
        .cta {
            margin: auto;
        }
        @include mq(){
            margin-top: 50px !important;
            justify-content: center;
        }
    }
    &-clothing-handbags-footwear {
        .columns {
            @include flexbox();
            @include justify-content(center);
            text-align: center;
        }
        @include mqm(){
            > div {
                + div {
                    margin-top: 20px;
                }    
            }
        }
    }
}

.carousel {
    .promo {
        &--slug {
            font-family: $font-gotham-bold !important;
            letter-spacing: .2em;
            @include fs(14/16, $important:true);
            @include mqm(){
                font-size: fs(13) !important;
            }
        }
        &--headline {
            &, & h2, & h1 {
                font-family: $font-caslan-italic;
                letter-spacing: .04em;
                @include fs(30/16, $important:true);
                line-height: (33 / 30) * 1em !important;
                @include mqm(){
                    font-size: fs(15) !important;
                    line-height: (16.5 / 15) * 1em !important;
                }
            }
        }
    }
}

.destination-kors {
    padding-left: 0 !important;
    padding-right: 0 !important;
    &--features {
        justify-content: space-around !important;
    }
    &--column { // to handle the really really really dumb fact that we're using two different versions of the same stylesheet concurrently
        flex-basis: 33% !important;
        width: 33% !important;
        max-width: 33% !important;
        display: inline-flex !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .promo {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.look-container, .row.mkwp--wrapper {
    & + & {
        margin-top: $rm;
        @include mq(){
            margin-top: $r;
        }
    }
}

#splash {
    .promo {
        &--headline {
            @include fs((50 / 16), $important:true);
            // @include mq($min:$mqt, $max:$mqd){
            //     font-size: fs(40) !important;
            // }
            @include mq($min:null, $max:$mqt){
                font-size: fs(33) !important;
            }
        }
        &--caption {
            @include mqm(){
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    img {
        // filter: brightness(0.8) contrast(1.2);
    }
    .quote {
        &.hide- {
            &mobile {
                margin-top: $rm;
                @include mq($min:null, $max:$mqt){
                    margin-top: $tm - 8px;
                }
            }
            &desktop {
                margin-top: 12px;
            }
        }
        &[quoter]:after {
            @include mq(){
                margin-top: 43px;
            }
            @include mq($min:null, $max:$mqt){
                font-size: fs(15);
                margin-top: $tm - 5px;
            }
        }
    }
}

.carousel .promoTOI {
    > .wpCaption {
        @include mqm(){
            margin: auto;
        }
    }
    h2.promo--headline {
        @include fs((30 / 16), $important:true);
        @include mqm(){
            font-size: fs(15) !important;
            line-height: (16.5 / 15) * 1em !important;
        }
    }
}

#img-scroll {
    @include justify-content(center);
    .carousel {
        position: static;
        .slick-arrow {
            transform: translateY(calc(-50% - (42px / 2)));
        }
        img {
            width: 100%;
        }
        &.hide-desktop {
            .slick-slide > div {
                @include flexbox();
                + div {
                    margin-top: 2 * $gm;
                }
            }
        }
    }
}