<section id="splash" class="row mkwp--wrapper mkwp--wrapper__collapse mkwp--wrapper__mobile-collapse">
  <article class="promo promoTOI promo__collection promo__no-gutters promoTOI__mobile small-12">
    <%- Picture(data.splash.picture).html %>
    <div class="promo--caption promo--caption__white promo--caption__mid promo--caption__mobile-center promo--caption__mobile-mid promo--caption__mobile-white">
      <h2 class="promo--headline wpHeadline"><%- data.splash.headline %></h2>
      <%- Quote(data.splash.mobileQuote, {classNames:['hide-desktop']}).html %>
      <%- Quote(data.splash.desktopQuote, {classNames:['hide-mobile']}).html %>
    </div>
  </article>
</section>

<% const looks = data.looks %>

<%# Rose Jacquard %>
<% const roseJacquard = looks.roseJacquard %>
<section class="look-container look-container__mobile-margin-top-12-important">
  <section class="row mkwp--wrapper mkwp--wrapper__mobile-gutters-on-the-sides">
    <article class="look columns medium-6 medium-offset-3">
      <%- Picture(roseJacquard.pictures[0]).html %>
      <%- CallToAction(roseJacquard.cta, {classNames: ['cta__white','bottom','left']}).html %>
    </article>
  </section>
  <section class="row mkwp--wrapper mkwp--wrapper__mobile-gutters-on-the-sides">
    <article class="look look__abutt columns small-6 medium-4 medium-offset-1">
      <%- Picture(roseJacquard.pictures[1]).html %>
      <%- CallToAction(roseJacquard.cta, {classNames: ['hide-mobile']}).html %>
    </article>
    <article class="look look__abutt columns small-6 medium-5 medium-offset-1">
      <%- Picture(roseJacquard.pictures[2]).html %>
    </article>
    <%- CallToAction(roseJacquard.cta, {classNames: ['hide-desktop']}).html %>
  </section>
  <section class="row mkwp--wrapper mkwp--wrapper__mobile-gutters-on-the-sides">
    <%- Quote(roseJacquard.quote).html %>
  </section>
</section>


<%# New Bancroft %>
<% const newBancroft = looks.newBancroft %>
<section class="look-container">
  <section class="row mkwp--wrapper mkwp--wrapper__mobile-gutters-on-the-sides">
    <article class="look columns medium-8 medium-offset-2">
      <%- Picture(newBancroft.pictures[0]).html %>
      <%- CallToAction(newBancroft.cta, {classNames: ['cta__white','bottom','left']}).html %>
    </article>
  </section>
  <section class="row mkwp--wrapper mkwp--wrapper__mobile-gutters-on-the-sides">
    <article class="look look__abutt columns small-6 medium-5 medium-offset-1">
      <%- Picture(newBancroft.pictures[1]).html %>
    </article>
    <article class="look look__abutt columns small-6 medium-4 medium-offset-1">
      <%- Picture(newBancroft.pictures[2]).html %>
      <%- CallToAction(newBancroft.cta, {classNames: ['hide-mobile']}).html %>
    </article>
    <%- CallToAction(newBancroft.cta, {classNames: ['hide-desktop']}).html %>
  </section>
  <section class="row mkwp--wrapper mkwp--wrapper__mobile-gutters-on-the-sides">
    <%- Quote(newBancroft.quote).html %>
  </section>
</section>

<%# Finishing Touches %>
<% const finishingTouches = looks.finishingTouches %>
<section class="look-container">
  <section class="row mkwp--wrapper mkwp--wrapper__mobile-gutters-on-the-sides">
    <article class="look columns medium-6 medium-offset-3">
      <%- Picture(finishingTouches.picture).html %>
      <%- CallToAction(finishingTouches.cta, {classNames: ['cta__white','bottom','left']}).html %>
    </article>
  </section>
</section>

<%# Finishing Touches %>
<% const goldStandard = looks.goldStandard %>
<section class="look-container">
  <section class="row mkwp--wrapper mkwp--wrapper__mobile-gutters-on-the-sides">
    <article class="look columns medium-8 medium-offset-2">
      <%- Picture(goldStandard.picture).html %>
      <%- CallToAction(goldStandard.cta, {classNames: ['cta__white','bottom','left']}).html %>
    </article>
  </section>
</section>


<section class="row mkwp--wrapper mkwp--wrapper__mobile-gutters-on-the-sides">
  <%- Quote(data.looks.finishingTouchesAndGoldStandardQuote).html %>
</section>


<%# Park Avenue Meets Punk %>
<% const parkAvenueMeetsPunk = looks.parkAvenueMeetsPunk %>
<section class="look-container ">
  <section class="row mkwp--wrapper mkwp--wrapper__mobile-gutters-on-the-sides">
    <article class="look columns medium-6 medium-offset-3">
      <%- Picture(parkAvenueMeetsPunk.pictures[0]).html %>
      <%- CallToAction(parkAvenueMeetsPunk.cta, {classNames: ['cta__white','bottom','left']}).html %>
    </article>
  </section>
  <section class="row mkwp--wrapper mkwp--wrapper__mobile-gutters-on-the-sides">
    <article class="look look__abutt columns small-6 medium-4 medium-offset-1">
      <%- Picture(parkAvenueMeetsPunk.pictures[1]).html %>
      <%- CallToAction(parkAvenueMeetsPunk.cta, {classNames: ['hide-mobile']}).html %>
    </article>
    <article class="look look__abutt columns small-6 medium-5 medium-offset-1">
      <%- Picture(parkAvenueMeetsPunk.pictures[2]).html %>
    </article>
    <%- CallToAction(parkAvenueMeetsPunk.cta, {classNames: ['hide-desktop']}).html %>
  </section>
  <section class="row mkwp--wrapper mkwp--wrapper__mobile-gutters-on-the-sides">
    <%- Quote(parkAvenueMeetsPunk.quote).html %>
  </section>
</section>

<%# After-dark Dressing %>
<% const afterDarkDressing = looks.afterDarkDressing %>
<section class="look-container">
  <section class="row mkwp--wrapper mkwp--wrapper__mobile-gutters-on-the-sides">
    <article class="look columns medium-6 medium-offset-3">
      <%- Picture(afterDarkDressing.pictures[0]).html %>
      <%- CallToAction(afterDarkDressing.cta, {classNames: ['cta__white','bottom','left']}).html %>
    </article>
  </section>
  <section class="row mkwp--wrapper mkwp--wrapper__mobile-gutters-on-the-sides">
    <article class="look look__abutt columns small-6 medium-5 medium-offset-1">
      <%- Picture(afterDarkDressing.pictures[1]).html %>
    </article>
    <article class="look look__abutt columns small-6 medium-4 medium-offset-1">
      <%- Picture(afterDarkDressing.pictures[2]).html %>
      <%- CallToAction(afterDarkDressing.cta, {classNames: ['hide-mobile']}).html %>
    </article>
    <%- CallToAction(afterDarkDressing.cta, {classNames: ['hide-desktop']}).html %>
  </section>
  <section class="row mkwp--wrapper mkwp--wrapper__mobile-gutters-on-the-sides">
    <%- Quote(afterDarkDressing.quote).html %>
  </section>
</section>

<section id="cta-collection" class="row mkwp--wrapper">
  <%- CallToAction(data.collectionCTAs.collection).html %>
</section>

<%- include(`./carousel.ejs`) %>

<section id="cta-clothing-handbags-footwear" class="row mkwp--wrapper">
  <div class="columns small-12 medium-4">
    <%- CallToAction(data.collectionCTAs.clothing).html %>
  </div>
  <div class="columns small-12 medium-4">
    <%- CallToAction(data.collectionCTAs.handbags).html %>
  </div>
  <div class="columns small-12 medium-4">
    <%- CallToAction(data.collectionCTAs.shoes).html %>
  </div>
</section>

<section class="mkwp--wrapper row hide-for-small-only" divider-header="DESTINATION KORS">
  <%- DestinationKors(locale.destinationKors).html %>
</section>
