// width of pic = 50vw - 30px
// height of pic = (50vw - 30px) * (4/3)
// height of cap = hop * (2/3)
// height of promo = hop + hoc

// http://www.wolframalpha.com/input/?i=%5B(50x+-+30)+*+(4%2F3)%5D+%2B+%5B%5B(50x+-+30)+*+(4%2F3)%5D+*+(2%2F3)%5D
$promoMulti-height-variable-multiplier: 111.111111;
$promoMulti-height-variable: #{$promoMulti-height-variable-multiplier}vw;
$promoMulti-height-constant: -66.6666666px;
$promoMulti-height: calc(#{$promoMulti-height-variable} + #{$promoMulti-height-constant});

// http://www.wolframalpha.com/input/?t=crmtb01&f=ob&i=%5B(50x+-+30)+*+(4%2F3)%5D+%2B+%5B%5B(50x+-+30)+*+(4%2F3)%5D+*+(2%2F3)%5D+where+x+is+1440
$promoMulti-max-height: ($promoMulti-height-variable-multiplier * 14.40px) + $promoMulti-height-constant;

// margin between caption and pic = 20% of caption height = 20% * 40% of promo height
$mbcp: calc(#{#{$promoMulti-height-variable} * .08} + #{$promoMulti-height-constant * .08});
$max-mbcp: $promoMulti-max-height * .08;

&Multi {
    // @extend .promo;
    width: 100%;
    flex-basis: 100%;
    
    @include mqm(){
        > .promo {
            flex-basis: auto;
            + .promo {
                margin-top: #{2 * $g};
            }
        }
    }

    @include mq(){
        @include flexbox();
        @include flex-direction(row);
        height: $promoMulti-height;
        max-height: $promoMulti-max-height;

        > .promo {
            flex: 1 1;
            @include mq(){
                padding-left: 0;
                padding-right: 0;
                .wpCaption {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
            &:not(:last-child):not(:only-child) {
                > {
                    .wpCaption {
                        @include mqm(){
                            margin-bottom: 4 * $gm;
                        }
                    }
                }
            }
            &.promoTAI {
                &.promo__ {
                    &first-picture {
                        justify-content: flex-start;
                        > {
                            .wpCaption {
                                margin-top: (2 * $g) - 3px;
                                // &:before {
                                //     content: '';
                                //     display: block;
                                //     height: $mbcp;
                                //     max-height: $max-mbcp;
                                // }
                            }
                        }
                    }

                    &first-caption {
                        justify-content: flex-end;
                        > {
                            .wpCaption {
                                margin-bottom: (2 * $g) - 3px;
                                // &:after {
                                //     content: '';
                                //     display: block;
                                //     height: $mbcp;
                                //     max-height: $max-mbcp;
                                // }
                            }
                        }
                    }
                }
            }
        }
    }

}
