$toi-mb: (2 * $g) + 12px; // margin bottom for when there is an absolutely positioned disclaimer
@mixin TOI() {
    > {
        .wpLegal {
            bottom: -$toi-mb;
            z-index: 1;
        }
        .wpLegal, .wpCaption, .promo--caption {
            position: absolute;
        }
        .wpCaption, .promo--caption {
            background: transparent;
            &:not([class*="medium-offset"]){ // use the margin of medium-offset-* if present
                margin: 0;
            }
        }
    }
}

&TOI {
    // @extend .promo;
    @include justify-content(flex-start);
    
    @include mq(){
        width: 100%;
        flex-basis: 100%;
        &__has-legal{
            margin-bottom: $toi-mb;
        }
        @include TOI();
    }

    &__mobile {
        @include mqm(){
            @include TOI();
            > .wp {
                &Caption {
                    background: transparent;
                }
            }
        }
    }

}


