&TAI {
    // @extend .promo;
    width: 100%;
    flex-basis: 100%;
    @include mq(){
        > {
            * {
                flex-basis: auto;
                + * {
                    margin-top: 2 * $g;
                }
            }
            
            .promo--caption, .promo--legal {
                margin-left: auto;
                margin-right: auto;
            }
            .promo--caption {
                top: 0;
                position: relative;
            }
        }
    }

}
