// // font sizes
//     // landing page
//     $fs-d-lp-hero-header: 44px;
//     $fs-d-lp-hero-subheader: 18px;
//     $fs-d-lp-hero-cta: 14px;
//     // landing and experience page
//     $fs-d-lep-cta-header: .875rem;
//     $fs-d-lep-cta-link: .75rem;
//     // experience page
//     $fs-d-ep-hero-surtitle: 18px;
//     $fs-d-ep-hero-header: 66px;
//     $fs-d-ep-quote: 20px;
//     $fs-d-ep-quote-author: 18px;
//     $fs-d-ep-cta: .875rem;

// // line heights
//     // landing page
//     $lh-d-lp-hero-header: 40px;
//     $lh-d-lp-hero-subheader: 21px;
//     // experience page
//     $lh-d-ep-hero-surtitle: 1;
//     $lh-d-ep-hero-header: 60px;
//     $lh-d-ep-quote: 23px;

// // letter spacings
//     // landing page
//     $ls-d-lp-hero-header: 0rem;
//     $ls-d-lp-hero-subheader: .04rem;
//     $ls-d-lp-hero-cta: .045rem;
//     // landing and experience page
//     $ls-d-lep-cta-header: .045rem;
//     $ls-d-lep-cta-link: .1rem;
//     // experience page
//     $ls-d-ep-hero-surtitle: .2rem;
//     $ls-d-ep-hero-header: 0rem;
//     $ls-d-ep-quote: .04rem;
//     $ls-d-ep-quote-author: 0rem;
//     $ls-d-ep-cta: .045rem;
