// // font sizes
//   // landing page
//   $fs-m-lp-hero-header: 26px;
//   $fs-m-lp-hero-subheader: 11.5px;
//   $fs-m-lp-hero-cta: .75rem;
//   // experience page
//   $fs-m-ep-hero-surtitle: .75rem;
//   $fs-m-ep-hero-header: 33px;
//   $fs-m-ep-quote: 15px;
//   $fs-m-ep-cta: .75rem;

// // line heights
//   // landing page
//   $lh-m-lp-hero-header: 23px;
//   $lh-m-lp-hero-subheader: 13px;
//   // experience page
//   $lh-m-ep-hero-surtitle: .75rem;
//   $lh-m-ep-hero-header: 30px;
//   $lh-m-ep-quote: 17.5px;

// // letter spacings
//   // landing page
//   $ls-m-lp-hero-header: 0rem;
//   $ls-m-lp-hero-subheader: .04rem;
//   $ls-m-lp-hero-cta: .045rem;
//   // experience page
//   $ls-m-ep-hero-surtitle: .2rem;
//   $ls-m-ep-hero-header: 0rem;
//   $ls-m-ep-quote: .04rem;
//   $ls-m-ep-cta: .045rem;
