// // font sizes
//     // landing page
//     $fs-t-lp-hero-header: 40px;
//     $fs-t-lp-hero-subheader: 14px;
//     $fs-t-lp-hero-cta: 12px;
//     // landing and experience page

//     // experience page
//     $fs-t-ep-hero-surtitle: 14px;
//     $fs-t-ep-hero-header: 40px;
//     $fs-t-ep-quote: 16px;
//     $fs-t-ep-quote-author: 14px;
//     $fs-t-ep-cta: 12px;

// // line heights
//     // landing page
//     $lh-t-lp-hero-header: 36px;
//     $lh-t-lp-hero-subheader: 17px;
//     // experience page
//     $lh-t-ep-hero-surtitle: 1;
//     $lh-t-ep-hero-header: 36px;
//     $lh-t-ep-quote: 19px;

// // letter spacings
//     // landing page
//     $ls-t-lp-hero-header: 0rem;
//     $ls-t-lp-hero-subheader: .04rem;
//     $ls-t-lp-hero-cta: .045rem;
//     // landing and experience page

//     // experience page
//     $ls-t-ep-hero-surtitle: .2rem;
//     $ls-t-ep-hero-header: 0rem;
//     $ls-t-ep-quote: .04rem;
//     $ls-t-ep-quote-author: 0rem;
//     $ls-t-ep-cta: .045rem;
