<%- TwoUpEvenOption(data.TwoUpEvenOption).html %>

<%- ThreeUp(data.ThreeUp).html %>

<%- ThreeUpOption(data.ThreeUpOption).html %>

<%- FourUp(data.FourUp).html %>

<%- FourUpOption(data.FourUpOption).html %>