<% if(!production) { %>
  <!DOCTYPE HTML>
  <html lang="<%=locale.lang%>-<%=locale.region%>" class="no-js">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title><%- page %></title>
      <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.ico"/>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">


      <%# Sapient's and other dev dependencies %>
      <%- include ../assets-dev/assets-dev %>



    </head>
    <body id="<%= `${locale.lang}_${locale.region}` %>">

      <%# Fresh toolbar %>
      <div class="fresh--toolbar">
        <style>
          .fresh--toolbar {
            position: fixed;
            z-index: 888;
            display: inline-block;
            margin: 8px;
          }
          .fresh--toolbar a {
            display: inline-block;
          }
          .fresh--toolbar a img {
            height: 42px;
          }
        </style>
        <a href="/">
          <img src="/assets/img/fresh-icon.png">
        </a>
      </div>

<% } %>
