<%- include ./page-header %>

  <section id="fresh" class="mkwp--body">

    <%#
      the general stylesheet, compiled from the sass located in app/assets/css.
      if the provided locale-data mentions that the stylesheet should be sourced from a different
      locale, use the source locale's FTP path for the stylesheet instead (for production)
    %>
    <%
      const cssSource = `${
        production && locale.hasOwnProperty('sources') && locale.sources.style
          ? master[locale.sources.style].baseUrl
          : `${locale.baseUrl}`
      }css/`
    %>
    <link rel="stylesheet" href="<%= cssSource %>style.min.css" />


    <%#
      custom locale-page specific styles.
      these styles should have priority over general styles,
      so they should be placed after style.min.css
    %>
    <% if(customStyle){ %>
      <style>
        <%- customStyle %>
      </style>
    <% } %>


    <%# page content %>
    <%- include(`../../../i18n/${locale.lang}_${locale.region}/pages/${page}/template`) %>

  </section>

<%- include ./page-footer %>
