<% if(!production) { %>

      <script type="text/javascript">

        (function(doc, script) {
          var js,
          fjs = doc.getElementsByTagName(script)[0],
          add = function(url, id) {
            if (doc.getElementById(id)) {return;}
            js = doc.createElement(script);
            js.src = url;
            id && (js.id = id);
            fjs.parentNode.insertBefore(js, fjs);
          };
          add('<%= locale.baseUrl %>/js/site.min.js', 'mkors-js');
        }(document, 'script'));
      </script>

      <%# this script is required for browser-sync to execute asynchronously %>
      <script id="__bs_script__">
        //<![CDATA[
        document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.8'><\/script>".replace("HOST", location.hostname));
        //]]>
      </script>

    </body>
  </html>

<% } else { %>

  <div class="rich-text-scripts hide" data-scripts='{"arr":[{"id":"specialProjectJs","src":"<%= locale.baseUrl %>/js/site.min.js","async":true}]}'>

<% } %>
