<section class="mkwp--wrapper row small-collapse">
  <%- Promo(data.promos.romanticGlamour, {id:'romantic-glamour', classNames:['columns']}).html %>
</section>

<section class="mkwp--wrapper row">
  <%- Quote(data.quotes[0]).html %>
</section>

<section class="mkwp--wrapper row">
  <%- Promo(data.promos.toughLuxeStuds).html %>
</section>

<section class="mkwp--wrapper row">
  <%- Promo(data.promos.pointOfView).html %>
</section>

<section class="mkwp--wrapper row" divider-header="DESTINATION KORS">
  <%-
    DestinationKors(locale.destinationKors, {
      extra: Promo(data.destinationKorsExtra).html
    }).html
  %>
</section>