<!DOCTYPE html>
<title>fresh</title>
<%- include ./style %>



<a href="https://bitbucket.org/brianmk/fresh" alt="fresh" title="fresh" target="_blank">
  <img src="assets/img/fresh.png" class="fresh-logo" alt="fresh">
</a>
<p>a new <a href="https://bitbucket.org/michaelkors/mk-refresh">mk-refresh</a>
<hr>
<p>check out the <a href="https://mk-confluence.sparkred.com/display/FRSH" target="_blank">documentation</a>
<hr>
<p>currently viewing locale: <strong><%- locale.lang %>_<%- locale.region %></strong>
<section>
  <article id="pages-list">
    <% for(page in locale.pages){ %>
      <a href="<%- page %>">
        <%- page %>
      </a>
    <% } %>
  </article>
  <a href="#" id="new" class="">
    <span>+ add page</span>
  </a>
  <form class="page-name-form">
    <input type="text" placeholder="enter page name">
    <div class="pacman">
      <div></div><div></div><div></div><div></div><div></div>
    </div>
    <button type="submit" class="page-name-form--submit"></button>
  </form>
  <hr>
</section>



<%- include ./script %>
