<%- include ../assets-dev/style %>
<style>
  html {
    overflow: hidden;
  }
  body {
    background:snow;
    font-family: 'Gotham Light', sans-serif;
    font-size: 16px;
    color:#020305;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
  }
  .fresh-logo {
    width:50vw;
    max-width:222px;
    margin: 8px 0;
  }
  hr {
    width: 288px;
  }
  p {
    margin: 8px 0;
  }
  #pages-list {
    margin-top:8px;
    max-height:142px;
    display:flex;
    flex-flow:column wrap;
    align-items:center;
    align-content:center;
  }
  a {
    font-weight: 700;
    color:#abc545;
    text-decoration:none;
    transition: all .8s;
  }
  a:hover,
  a:focus {
    color:#d0629b !important;
    outline: none !important;
  }
  #pages-list a {
    margin:0 8px 8px;
  }
  #new {
    height: 27px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #new span i {
    color:#d0629b;
    font-style: normal;
    position: relative;
    top: 1px;
  }
  #new span {
    display: block;
  }
  #new.requesting span {
    display: none;
  }
  #new, .page-name-form {
    margin: 8px 0;
    font-weight: 700;
  }
  .page-name-form:hover .page-name-form--submit:after {
    color:#d0629b;
  }
  .page-name-form, .page-name-form input {
    font-family: 'Gotham Light', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #020305;
    display: none;
    border: 0 !important;
    background: transparent !important;
    padding: 0 !important;
    text-align: center !important;
    outline: none !important;
    width: 288px !important;
    height: 27px !important;
    align-items: center !important;
    box-shadow: none  !important;
  }
  #new.naming {
    display: none;
  }
  #new.naming + .page-name-form,
  #new.naming + .page-name-form input {
    display: flex;
  }
  .page-name-form--submit {
    font-size: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    background: transparent;
    padding: 0;
    border: none;
    outline: none !important;
  }
  .page-name-form--submit:after {
    transition: all .8s;
    pointer-events: all;
    cursor: pointer;
    display: block;
    content: '+';
    position: absolute;
    color: #abc545;
    width: 36px;
    left: 252px;
    text-align: right;
    font-weight: 700;
  }
  .page-name-form + hr {
    opacity: 0;
    position: absolute;
    margin-bottom: 0;
    margin-top: 8px;
  }
  #new.naming + .page-name-form + hr {
    opacity: 1;
    display: block;
    border-bottom: #020305 dashed 1px;
  }

  .page-name-form .pacman {
    display: none;
    position: absolute;
    right: calc(50vw - 126px);
  }
  .requesting + .page-name-form .page-name-form--submit {
    display: none;
  }
  .requesting + .page-name-form .pacman {
    display: block;
  }






  @-webkit-keyframes rotate_pacman_half_up {
    0% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); }
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); }
    100% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); } }

  @keyframes rotate_pacman_half_up {
    0% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); }
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); }
    100% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); } }

  @-webkit-keyframes rotate_pacman_half_down {
    0% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    50% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); } }

  @keyframes rotate_pacman_half_down {
    0% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    50% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); } }

  @-webkit-keyframes pacman-balls {
    75% {
      opacity: 0.7; }
    100% {
      -webkit-transform: translate(-100px, -6.25px);
              transform: translate(-100px, -6.25px); } }

  @keyframes pacman-balls {
    75% {
      opacity: 0.7; }
    100% {
      -webkit-transform: translate(-100px, -6.25px);
              transform: translate(-100px, -6.25px); } }

  .pacman {
    position: relative; }
    .pacman > div:nth-child(2) {
      -webkit-animation: pacman-balls 1s -0.99s infinite linear;
              animation: pacman-balls 1s -0.99s infinite linear; }
    .pacman > div:nth-child(3) {
      -webkit-animation: pacman-balls 1s -0.66s infinite linear;
              animation: pacman-balls 1s -0.66s infinite linear; }
    .pacman > div:nth-child(4) {
      -webkit-animation: pacman-balls 1s -0.33s infinite linear;
              animation: pacman-balls 1s -0.33s infinite linear; }
    .pacman > div:nth-child(5) {
      -webkit-animation: pacman-balls 1s 0s infinite linear;
              animation: pacman-balls 1s 0s infinite linear; }
    .pacman > div:first-of-type,
    .pacman > div:nth-child(2) {
      left: -10px;
    }
    .pacman > div:first-of-type {
      z-index: 8;
      width: 0px;
      height: 0px;
      border-right: 8px solid transparent;
      border-top: 8px solid #abc545;
      border-left: 8px solid #abc545;
      border-bottom: 8px solid #abc545;
      border-radius: 8px;
      -webkit-animation: rotate_pacman_half_up 0.5s 0s infinite;
              animation: rotate_pacman_half_up 0.5s 0s infinite;
      position: relative;
      margin-top: 3px;}
    .pacman > div:nth-child(2) {
      z-index: 8;
      width: 0px;
      height: 0px;
      border-right: 8px solid transparent;
      border-top: 8px solid #abc545;
      border-left: 8px solid #abc545;
      border-bottom: 8px solid #abc545;
      border-radius: 8px;
      -webkit-animation: rotate_pacman_half_down 0.5s 0s infinite;
              animation: rotate_pacman_half_down 0.5s 0s infinite;
      margin-top: -16px;
      position: relative;}
    .pacman > div:nth-child(3),
    .pacman > div:nth-child(4),
    .pacman > div:nth-child(5),
    .pacman > div:nth-child(6) {
      background-color: #d0629b;
      border-radius: 50%;
      margin: 2px;
      width: 5px;
      height: 5px;
      position: absolute;
      -webkit-transform: translate(-69px, -6.25px);
              transform: translate(-69px, -6.25px);
      top: 13px;
      left: 100px; }
</style>
