// @import './fonts/.fonts';
@import './fonts';
@import './margins';
@import './colors';

// media queries
$mqm: 767px; // mobile max
$mqt: 768px; // tablet min
$mqd: 1024px; // desktop min
$mqdl: 1268px;

$mq-mobile-max: 767px; // mobile max
$mq-tablet-min: 768px; // tablet min
$mq-tablet-max: 1024px; // tablet max
$mq-desktop-small-min: 1025px; // desktop small min
$mq-desktop-small-max: 1267px; // desktop small max
$mq-desktop-large-min: 1268px; // desktop large min

$vp: 100vw;
// max width of main
$mw: 1440px;

// foundation variables
    // columns %s
    $cp1: 8.33333%;
    $cp4: 33.33333%;
    $cp8: 66.66667%;
    $cp10: 83.33333%;
