// @import './mobile';
// @import './tablet';
// @import './desktop';

// fonts
$font-caslan-roman: "Caslon 540 LT W01 Roman", "Caslon #540 W01SC Rm SC", Caslon, Georgia,serif;
$font-caslan-italic: "Caslon540LTW01-Italic", "Caslon Italic", "Caslon 540 LT W01 Italic";

$font-dindot: Dindot;
$font-gotham: 'Gotham 7R', 'Gotham Bold';
$font-gotham-bold: 'Gotham 7R', 'Gotham Bold';
$font-gotham-medium: 'Gotham 5R', 'Gotham Medium';