$g: 15px; // gutter
$gm: 6px; // gutter on mobile
$r: 100px; // space between rows
$rm: 40px; // space between rows on mobile
$t: 30px; // text vertical spacing
$tm: 20px; // text vertical spacing on mobile






// -------- start: DEPRECATED --------

$half-gutter-mobile: 6px;
$half-gutter: 15px;
$margin-hero: 15px;
$margin-quote: 30px;

// desktop
// landing page
$margin-d-lp-hero-text: 35px;
// experience page
$margin-d-ep-hero-text-1: 18px;
$margin-d-ep-quote: 120px;
$margin-d-ep-cta: 40px;

// tablet
$margin-t-ep-quote: 50px;

// mobile
// landing page
$margin-m-lp-hero-text-1: 15px;
$margin-m-lp-hero-text-2: 30px;
$margin-m-lp-hero-text-3: 20px;
// experience page
$margin-m-ep-hero-text-1: 12px;
$margin-m-ep-quote: 90px;
$margin-m-ep-cta: 10px;

// -------- end: DEPRECATED --------