/**
 * uses the css4 @supports at-rule to apply browser-specific rules
 * @author brian
 */
@mixin bq( $ie: null, $safari: null, $mozilla: null ) {

    @if $ie != true and $safari != true and $mozilla != true  {
        @warn "Mixin bq requires at least one browser";
    } @else {

        $fq: ''; // feature query

        @if $ie == true or $safari == true {
            @if $mozilla == true {
                $fq: '(not (text-align-last:right)) or (-moz-text-align-last: right)';
            } @else {
                $fq: '(not (text-align-last:right))';
            }
        } @else {
            $fq: '(-moz-text-align-last: right)';
        }

        @supports #{$fq} {
            @content;
        }

    }
}
