/**
 *  for when the first element (margin-top:0), is hidden thereby forcing the
 *  next element that is not hidden to inherit the first-child's margin-top:0
 * 
 *  usage: place @include first-child() in the selector of the iterables' parent element.
 *
 *  ex:
 *  <div class="parent-of-iterables">
 *      <div class="hide-mobile">asdf</div>
 *      <div class="hide-mobile">asdf</div>
 *      <div>asdf</div>
 *  </div>
 *
 *  .parent-of-iterables {
 *      @include first-child();
 *  }
 */

@mixin first-nonhidden-child($mq,$important:false){ // dont @include this..
    $c: '.hide-' + $mq;
    + *,
    + #{$c} + *,
    + #{$c} + #{$c} + *,
    + #{$c} + #{$c} + #{$c} + *, {
        @if $important { margin-top: 0 !important }
        @else { margin-top: 0 }
    }
}
@mixin first-child($important:false){ // @include this!
    > {
        :first-child { 
            &.hide- {
                @include mqm(){
                    &mobile {
                        @include first-nonhidden-child(mobile, $important);
                    }
                }
                @include mq(){
                    &desktop {
                        @include first-nonhidden-child(desktop, $important);
                    }
                }
            }
        }
    }
}