/**
 *
 * usage with text-type:
 * @include fs($type: header2|header1|body|cta|disclaimer)
 * ex: @include fs($type:cta)
 *
 * usage with em:
 * @include fs(any multiplier # you want)
 * ex: @include fs(4.20)
 *
 */



@mixin fs($em: 0, $type: null, $important: false) {

    @if $em == 0 {
        @if $type == header2 {
            $em: 3.1;
        } @else if $type == header1 {
            $em: 2.25;
        } @else if $type == body {
            $em: 1;
        } @else if $type == cta {
            $em: .875;
        } @else if $type == disclaimer {
            $em: .625;
        } @else if $type == null and ($em == 0 or $em == null) {
            @warn 'A $type or $em must be provided for @mixin fs()';
        }
    }


    // font size media queries (min, max)
    $font-size-media-queries: (
        (min: 0, max: $mqm, base: fs(12)),                    // mobile small: 0 (320) - 767
        (min: $mqt, max: $mqd, base: fs(12)),                 // tablet: 768 - 1024
        (min: #{$mqd + 1}, max: #{$mqdl - 1}, base: fs(14)),  // desktop small: 1025 - 1267
        (min: $mqdl, max: 88888px, base: fs(16))               // desktop large: 1268 - infinity (1440)
    );

    
    @each $fsmq in $font-size-media-queries {
        $mq-min: map-get($fsmq, min);
        $mq-max: map-get($fsmq, max);
        $mq-base: map-get($fsmq, base);

        @include mq($min: $mq-min, $max: $mq-max){
            
            $font-size: $em * $mq-base;

            // min cta size
            @if $type == cta and $font-size < .75rem { // cant use fs() because sass interpolation sucks
                $font-size: fs(12);
            }
            
            // min disclaimer size
            @if $type == disclaimer and $font-size < 0.5625rem { // cant use fs() because sass interpolation sucks
                $font-size: fs(9);
            }

            
            @if $important {
                font-size: $font-size !important;
            } @else {
                font-size: $font-size;
            }

        }
    }

}
