$mq-support: true !default;

// by default, the media query will be min-width:768px
@mixin mq( $min: $mqt, $max: null,  $height: false, $serve-to-nomq: true ) {

    @if $min == null and $max == null  {
        @warn "Mixin mq requires at least a MIN or MAX width/height";
    }

    $direction: 'width';
    /* If $height is true, override the variable. */
    @if $height == true {
        $direction: 'height';
    }

    @if $mq-support {
        @if $min != null and $max != null {
            @media ( 'min-' + $direction + ':' + $min ) and ( 'max-' + $direction + ':' + $max ) {
                @content;
            }
        } @else if $max != null {
           @media ( 'max-' + $direction + ':' + $max ) {
                @content;
            }
        } @else {
            @media ( 'min-' + $direction + ':' + $min ) {
                @content;
            }
        }
    } @else {
        @if $serve-to-nomq {
            @content;
        }
    }
}

@mixin mqm(){ // to be deprecated
    @include mq($min:null, $max:$mqm){
        @content;
    }
}

@mixin mq-mobile-only(){
    @include mq($min:null, $max:$mq-mobile-max){
        @content;
    }
}
@mixin mq-tablet-only(){
    @include mq($min:$mq-tablet-min, $max:$mq-tablet-max){
        @content;
    }
}
@mixin mq-desktop-small-only(){
    @include mq($min:$mq-desktop-small-min, $max:$mq-desktop-small-max){
        @content;
    }
}
@mixin mq-desktop-large-only(){
    @include mq($min:$mq-desktop-large-min){
        @content;
    }
}