@mixin modifiers($block, $elements:null){
    @each $element in $elements {
        
        $class-name: #{$block};

        @if $elements != null {
            $class-name: #{$block}--#{$element};
        }

        .#{$class-name}.#{$class-name} {
            &__ {
                @include mq(){ // 768px +
                    @content;
                }
                @include mq-mobile-only(){
                    &mobile- {
                        @content;
                    }
                }
                @include mq-tablet-only(){
                    &tablet- {
                        @content;
                    }
                }
                @include mq-desktop-small-only(){
                    &desktop-small- {
                        @content;
                    }
                }
                @include mq-desktop-large-only(){
                    &desktop-large- {
                        @content;
                    }
                }
            }
        }
    }
}


@mixin divider-horizontal($margin-top, $margin-side){
    content: '' !important;
    background: black;
    height: 1px;
    width: calc(100% - #{2 * $margin-side});
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $margin-top;
}
@mixin modifiers-divider($margin-top, $margin-side){
    &divider- {
        &top {
            &:before {
                @include divider-horizontal($margin-top, $margin-side)
            }
        }
    }
    &divided- {
        &horizontally {
            > * {
                &:before {
                    @include divider-horizontal($margin-top, $margin-side)
                }
            }
        }
        &vertically {
            @include flexbox();
            @include flex-flow(row nowrap);
            @include justify-content(center);
            > * {
                padding-top: $margin-top;
                padding-bottom: $margin-top;
                box-sizing: content-box;
                @include align-self(stretch);
                + * {
                    border-left: 1px solid black;
                }
            }
        }
    }
}
@mixin modifiers-collapse(){
    &collapse {
        &, &.row {
            padding-left: 0;
            padding-right: 0;
        }
        .column, .columns {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
@mixin modifiers-margin(){
    &margin- {
        @each $number in 0 12 20 40 {
            @each $side in top right bottom left left-right top-bottom {
                &#{$side}-#{$number} {
                    $value: $number * 1px;
                    @if $side == left-right {
                        margin-left: $value;
                        margin-right: $value;
                        &-important {
                            margin-left: $value !important;
                            margin-right: $value !important;
                        }
                    } @else if $side == top-bottom {
                        margin-top: $value;
                        margin-bottom: $value;
                        &-important {
                            margin-top: $value !important;
                            margin-bottom: $value !important;
                        }
                    } @else {
                        margin-#{$side}: $number * 1px;
                        &-important {
                            margin-#{$side}: $number * 1px !important;
                        }
                    }
                }
            }
        }
    }
}