// promo margins

@mixin mq-pm($margin-top-desktop:null, $margin-top-mobile:null, $margin-bottom-desktop:null, $margin-bottom-mobile:null){
    @if $margin-top-desktop != null {
        @include mq(){
            margin-top: $margin-top-desktop;
        }
    }
    @if $margin-top-mobile != null {
        @include mqm(){
            margin-top: $margin-top-mobile;
        }
    }
    @if $margin-bottom-desktop != null {
        @include mq(){
            margin-bottom: $margin-bottom-desktop;
        }
    }
    @if $margin-bottom-mobile != null {
        @include mqm(){
            margin-bottom: $margin-bottom-mobile;
        }
    }
}

@mixin promo-margin(
    $promo-modifiers: null,
    $element1: null,
    $element1-modifiers: null,
    $element2: null,
    $element2-modifiers: null,
    $margin-top-desktop: null,
    $margin-top-mobile: null,
    $margin-bottom-desktop: null,
    $margin-bottom-mobile: null
){

    @if $element1 == null or $element2 == null {
        @warn 'promo-margin() requires all of the following: $element1 $element2';
    }

    @if $margin-top-desktop == null and
        $margin-top-desktop == null and
        $margin-bottom-mobile == null and
        $margin-bottom-mobile == null {
        @warn 'promo-margin() requires at least one of the following: $margin-top-desktop $margin-top-mobile $margin-bottom-desktop $margin-bottom-mobile';
    }

    $e1: '.promo--' + $element1;
    $e1-chain: $e1;
    @if $element1-modifiers != null {
        @each $e1m in $element1-modifiers {
            $e1-chain: $e1-chain + $e1 + '__' + $e1m;
        }
    }

    $e2: '.promo--' + $element2;
    $e2-chain: $e2;
    @if $element2-modifiers != null {
        @each $e2m in $element2-modifiers {
            $e2-chain: $e2-chain + $e2 + '__' + $e2m;
        }
    }

    $cm-selector: $e1-chain + '+' + $e2-chain;

    @if $promo-modifiers != null {
        $pm-chain: '';
        @each $pm in $promo-modifiers {
            $pm-chain: $pm-chain + '.promo__' + $pm;
        }
        .promo#{$pm-chain} {
            #{$cm-selector}{
                @include mq-pm($margin-top-desktop, $margin-top-mobile, $margin-bottom-desktop, $margin-bottom-mobile);
            }
        }
    } @else {
        .promo {
            #{$cm-selector}{
                @include mq-pm($margin-top-desktop, $margin-top-mobile, $margin-bottom-desktop, $margin-bottom-mobile);
            }
        }
    }
}