/**
 * storing length of column into one variable is not legal because it uses different units (vw and px)
 * 1 column = $c1vw - $c1g
 *
 * however, storing width of max column width into one variable is legal because it uses one unit (px)
 */

// mobile
    $mnc: 4; // # of columns on mobile
    $mng: 5; // # of gutters on mobile
    $mc1g: ($mng * ($half-gutter-mobile * 2)) / $mnc;
    $mc1vw: $vp / $mnc;
    $mc1-m: ($mw - ($mng * (2 * $half-gutter-mobile))) / $mnc; // 1 column max-width

// desktop
    $dnc: 12; // # of columns on desktop
    $dng: 13; // # of gutters on desktop
    $dc1g: ($dng * ($half-gutter * 2)) / $dnc;
    $dc1vw: $vp / $dnc;
    // 1 column = $c1vw - $c1g
    $dc1-m: ($mw - ($dng * (2 * $half-gutter))) / $dnc; // 1 column max-width

// column + gutter combinations
// to generate the compiled css calc() from the # of columns and gutters, use the cg() and cg-m() functions for width + max-width

/**
 * function that generates the calc(vw + px) value for the compiled css
 * @param s: screen size (mobile|desktop, default:mobile)
 * @param c: # of columns
 * @param g: # of gutters
 * @param m: (optional) multiplier
 */
@function cg($s, $c, $g, $m:1) { // width by column + gutter
    @if $s == mobile {
        @return calc(#{$c * $mc1vw * $m} + #{(-($c * $mc1g) + ($g * (2 * $half-gutter-mobile))) * $m});
    }
    @if $s == desktop {
        @return calc(#{$c * $dc1vw * $m} + #{(-($c * $dc1g) + ($g * (2 * $half-gutter))) * $m});
    }
}
@function cg-m($s, $c, $g, $m:1) { // max-width by column + gutter
    @if $s == mobile {
        @return (($c * $mc1-m) + ($g * (2 * $half-gutter-mobile))) * $m;
    }
    @if $s == desktop {
        @return (($c * $dc1-m) + ($g * (2 * $half-gutter))) * $m;
    }
}
@mixin w($s, $c, $g, $m:1) { //width by # of columns and gutters in the grid pdf
    width: cg($s, $c, $g, $m);
    @include flex(0,0, cg($s, $c, $g, $m));
    max-width: cg-m($s, $c, $g, $m);
}
