@import './variables/.variables';
@import './mixins/.mixins';

.mkwp--body {
    @import './helpers/.helpers';
}

html {
    background: white;
}

body { margin:0 }

picture > img { width: 100%; }


#fresh {
    // padding-bottom: 30px;
    @include mq(){
        // padding-bottom: 100px;
    }

    a {
        text-decoration: none;
        // color: black;
    }

    .row {
        margin-left:auto;
        margin-right:auto;
        // max-width: 1440px;
        box-sizing: border-box;
        // margin: 0 auto;
        position: relative;
    }

    // section.row {
    //     // display: block;
    //     &:not(:first-of-type) {
    //         margin-top: 30px;
    //         @include mq(){
    //             margin-top: 100px;
    //         }
    //     }
    // }

    .columns {
        box-sizing: border-box;
    }

    i.caret {
        border-top: 0.39em solid transparent;
        border-bottom: 0.39em solid transparent;
        border-left: 0.39em solid;
        display: inline-block;
        margin-left: 0.33333333333333em;
    }

    .hide- { // to be depreacted
        @include mqm(){
            &mobile {
                display: none;
            }
        }
        @include mq(){
            &desktop {
                display: none;
            }
        }
    }

}

@import './components/.components';
