@mixin modifiers-order(){
    &order- {
        &0 {
            order: 0;
        }
        &1 {
            order: 1;
        }
        &2 {
            order: 2;
        }
        &3 {
            order: 3;
        }
    }
}
@mixin modifiers-color(){
    @each $color-class, $color in (
        white: white,
        black: black,
        tomato: tomato,
        mintcream: mintcream,
        basic-gray: #f7f7f7
    ) {
        &#{$color-class}, {
            &, & h1, & h2,
            & .wpCta,
            & .wpCta a {
                color: $color;
            }
            & .wpCta > a:after {
                border-left-color: $color !important;
            }
        }
    }
}
@mixin modifiers-horizontal-positioning(){
    &left {
        @include align-self(flex-start);
        left: 0;
    }
    &center {
        @include align-self(center);
    }
    &right {
        @include align-self(flex-end);
        right: 0;
    }
}
@mixin modifiers-vertical-positioning(){
    &high {
        position: absolute;
        top: 16% !important;
    }
    &mid {
        position: absolute;
        top: 50% !important;
        transform: translateY(-50%);
    }
    &low {
        position: absolute;
        top: auto !important;
        bottom: 16% !important;
    }
}
@mixin modifiers-vertical-offset(){
    &vertical-offset- {
        @each $offset in 70 {
            &#{$offset} {
                margin-top: #{$offset}px;
            }
        }
    }
}
@mixin modifiers-width(){
    &width- {
        @each $width in 90 {
            &#{$width} {
                width: $width * 1%;
                flex-basis: $width * 1%;
            }
        }
    }
}
@mixin modifiers-caption-overlap($gut){
    &caption-overlap {
        margin-bottom: 0;
        .wpCaption, .promo--caption {
            z-index: 1001;
            margin-top: -2 * $gut;
            padding-top: 2 * $gut;
            width: 78%;
            margin-left: auto;
            margin-right: auto;
            background: white;
        }
    }
}

.promo {
    @import './block';
    @import './block--element';
}