@include modifiers(promo){
    @include modifiers-order();
    @include modifiers-vertical-offset();
}
&.promo {
    &__mobile-overlap {
        @include mqm(){
            margin-bottom: 0;
            .wpCaption {
                z-index: 1001;
                margin-top: -#{(20 / 320) * 100%};
                padding-top: #{(20 / 320) * 100%};
            }
        }
    }
    @include mq(){
        &__ {
            @include modifiers-caption-overlap($g);
        }
    }
    @include mqm(){
        &__mobile- {
            @include modifiers-caption-overlap($gm * 2);
        }
    }
    @include mq(){
        &__first-picture {
            > {
                a {
                    order: 1;
                }
                .wp {
                    &Legal {
                        order: 2;
                    }
                    &Caption {
                        order: 3;
                    }
                }
            }
        }
        &__first-caption {
            > {
                a {
                    order: 2;
                }
                .wp {
                    &Legal {
                        order:3;
                    }
                    &Caption {
                        order: 1;
                    }
                }
            }
        }
        &__no-gutters {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            > * {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &__mens {
        .wpHeadline, .promo--headline {
            &, & h1, & h2 {
                font-family: $font-dindot;
                letter-spacing: .100em;
                @include fs(40/16);
                line-height: #{(40/40)}em;
                @include mqm(){
                    font-size: fs(20);
                }
                @include mq(){
                    line-height: #{(40/40)}em;
                }
            }
        }
        .wpCta {
            letter-spacing: .045em;
        }
    }

    &__collection {
        .wpHeadline, .promo--headline {
            &, & h1, & h2 {
                font-family: $font-caslan-italic;
                letter-spacing: 0rem;
                @include fs(32/16);
            }
        }
        .wpText {
            font-family: $font-caslan-roman;
            font-size: fs(16);
            line-height: #{(18/16)}em;
            letter-spacing: .045em;
            &:first-child {
                margin-top: 0;
            }
        }
        &-divider {
            @extend [divider-header];
            @extend [divider-header][divider-subheader];
            &:before {
                content: 'MICHAEL KORS';
            }
            &:after {
                content: 'COLLECTION';
            }
            .wp {
                &Cta {
                    @include align-self(center);
                    &.columns {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
            @include mqm(){
                &:before {
                    margin-top: 4 * $gm;
                    border-bottom-style: none;
                    order: 2;
                }
                &:after {
                    margin-bottom: 0;
                    order: 3;
                }
                .wp {
                    &Caption {
                        padding-top: 0;
                        margin-top: 2 * $gm;
                        order: 4;
                    }
                    &Cta {
                        a {
                            + a {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &__ugc {
        .wpHeadline, .promo--headline {
            &, & h1, & h2 {
                font-family: "Gotham 7r",Gotham Bold,Helvetica,Arial,sans-serif;
                @include mq(){
                    font-size: fs(24);
                    line-height: fs(24);
                    letter-spacing: .085rem;
                }
            }
        }
        .wpText {
            font-family: "Caslon 540 LT W01 Roman",Caslon,Georgia,serif;
            @include mq(){
                font-size: fs(26);
                line-height: fs(18);
                letter-spacing: .01rem;
            }
        }
    }

    &__cig {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        @include mq($mqdl){
            padding-bottom: $g * 2;
        }
        > * {
            padding-left: 0;
            padding-right: 0;
        }
        @include mq(){
            > *+a {
                margin-top: 0;
            }
        }
        > .wpText {
            margin-bottom: 0.5rem;
        }
        .wpCaption {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            @include mq(){
                width: 100%;
            }
            .wp {
                &Cta {
                    a {
                        white-space: normal;
                    }
                }
            }
        }
        .wpHeadline, .promo--headline {
            &, & h1, & h2 {
                font-family: "Gotham 7r",Gotham Bold,Helvetica,Arial,sans-serif;
                letter-spacing: .085rem;
                width: 85%;
                margin-left: auto;
                margin-right: auto;
                @include fs(1.25);
                line-height: fs(20);
                letter-spacing: .085rem;
                @include mq(){
                    width: 100%;
                }
            }
        }
        .wpText {
            font-family: "Caslon 540 LT W01 Roman",Caslon,Georgia,serif;
            letter-spacing: .01rem;
            @include fs(1.375);
            line-height: fs(24);
            @include mq($mqdl){
                margin-bottom: 2 * $g;
            }
        }
    }

}
