> {
    .wp {
        &Caption {
            .wp {
                &Cta {
                    .promo--caption--cta__no-caret {
                        &:after {
                            border-left-color: transparent;
                        }
                    }
                }
            }
        }
    }

    @include mqm(){
        .promo-- {
            &caption {
                &__mobile-over-image {
                    position: absolute;
                    background: transparent;
                }
            }
        }
    }    

    
    @include modifiers(promo, (picture, picture-container, legal, caption)){
        @include modifiers-order();
        @include modifiers-color();
        @include modifiers-horizontal-positioning();
        @include modifiers-vertical-positioning();
        @include modifiers-width();
        @include modifiers-margin();
    }

}

picture, .promo--picture {
    &[the-walk-model-handle] {
        &:before {
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            width: 222px;
            height: 88px;
            background-color: transparent;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('/img/MKBusiness/refreshes/2017/trans/refresh2/global/assets/mobile/icons/THE_WALK.png');
            @include mq(){
                background-image: url('/img/MKBusiness/refreshes/2017/trans/refresh2/global/assets/desktop/icons/THE_WALK.png');
            }
            @include mqm(){
                margin-bottom: 20px;
            }
        }
        &:after {
            content: '@'attr(the-walk-model-handle);
            position: absolute;
            color: white;
            font-family: $font-gotham-medium;
            letter-spacing: .045em;
            @include fs(14/16);
            bottom: $g;
            right: 50%;
            @include mqm(){
                transform: translateX(50%);
            }
            @include mq(){
                right: $g;
            }
        }
    }
}

// adjust vertical positioning when divider is present because divider increases height of promo
@include mq(){
    &[divider-header] {
        .promo-- {
            &caption {
                &__high {
                    top: calc(16% + #{(-50 * .16) + 50}px) !important;
                }
                &__mid {
                    top: calc(50% + #{50 * .5}px) !important;
                }
                &__low {
                    bottom: calc(16% - #{50 * .16}px) !important;
                }
            }
        }
        &[divider-subheader], &.promo__collection-divider {
            .promo-- {
                &caption {
                    &__high {
                        top: calc(16% + #{(-62 * .16) + 62}px) !important;
                    }
                    &__mid {
                        top: calc(50% + #{-62 * .5}px) !important;
                    }
                    &__low {
                        bottom: calc(16% - #{62 * .16}px) !important;
                    }
                }
            }
        }
    }
}